@using MvcGrid.Models
@model Dashboard
@{
    ViewBag.Title = "Home Page";
}
<h1>Responsive dashboard example</h1>
<div class="dashboard__container">
    <div class="dashboard--half">
        @Html.Partial("~/Views/ResponsiveGrid/Book.cshtml", Model.BookValueData)
    </div>
    <div class="dashboard--half">
        @Html.Partial("~/Views/ResponsiveGrid/Earnings.cshtml", Model.EarningsData)
    </div>
    <div class="dashboard--whole">
        @Html.Partial("~/Views/ResponsiveGrid/Price.cshtml", Model.PriceData)
    </div>
</div>
