@using Infragistics.Web.Mvc;
@using MvcGrid.Helpers;
@using MvcGrid.Models;
@using Newtonsoft.Json;

@model IQueryable<dynamic>

<h2>Book to Market by Company</h2>
<div id="igBookGrid"></div>

<script type="text/javascript">
    var bookValueResults = @Html.Raw(JsonConvert.SerializeObject(Model));
</script>

<script type="text/javascript">
    $(function () {
        var bvColumns = [
            { headerText: "Company", key: "CompanyName" },
            { headerText: "Symbol", key: "Symbol", headerCssClass: "col--narrow-text", columnCssClass: "col--narrow-text" }
        ];

        var bookValueGroup = {
            headerText: "Book To Market",
            group: []
        };
        for(var i = 0; i < bookValueResults[0].NumYears; i++) {
            var yearHeaderText = (bookValueResults[0].BaseYear - i).toString();
            bookValueGroup.group.push({headerText: yearHeaderText, key: "BookToMarket" + i,
                columnCssClass: "col--short-numeric", headerCssClass:"col--short-numeric", width: "70px"});
        }

        bvColumns.push(bookValueGroup);

        $("#igBookGrid").igGrid({
            columns: bvColumns,
            dataSource: bookValueResults,
            width: "100%",
            features: [
                {
                    name: "MultiColumnHeaders"
                },
                {
                    name: "Responsive",
                    enableVerticalRendering: false,
                    singleColumnTemplate: {
                        phone: '@Html.Raw(YearsAgo.ReplaceContentLabels(ResourceHelper.GetIgniteTemplate("MobilePriceToBookTemplate"), DateTime.Now.Year))'
                    }
                 }

            ]
        })
    })
</script>
