@using Infragistics.Web.Mvc;
@using MvcGrid.Helpers;
@using MvcGrid.Models;
@using Newtonsoft.Json;

@model IQueryable<dynamic>

<h2>Earnings Per Share</h2>
<div id="igEpsGrid"></div>

<script type="text/javascript">
    var epsResults = @Html.Raw(JsonConvert.SerializeObject(Model));
</script>

<script type="text/javascript">
    $(function () {
        var epsColumns = [
            { headerText: "Company", key: "CompanyName", template: "<a href='/CompanyProfiles?symbol=${Symbol}'>${CompanyName}</a>" },
            { headerText: "Industry", key: "Industry"},
            { headerText: "Symbol", key: "Symbol", headerCssClass: "col--narrow-text", columnCssClass: "col--narrow-text" }
        ];

        var epsGroup = {
            headerText: "Earnings Per Share",
            group: []
        };
        for(var i = 0; i < epsResults[0].NumYears; i++) {
            var yearHeaderText = (epsResults[0].BaseYear - i).toString();
            epsGroup.group.push({headerText: yearHeaderText, key: "EPS" + i,
                columnCssClass: "col--short-numeric", headerCssClass:"col--short-numeric", width: "70px"});
        }

        epsColumns.push(epsGroup);

        $("#igEpsGrid").igGrid({
            columns: epsColumns,
            dataSource: epsResults,
            width: "100%",
            features: [
                {
                    name: "MultiColumnHeaders"
                },
                {
                    name: "Responsive",
                    enableVerticalRendering: false,
                    singleColumnTemplate: {
                        phone: '@Html.Raw(YearsAgo.ReplaceContentLabels(ResourceHelper.GetIgniteTemplate("MobileEarningsPerShareTemplate"), DateTime.Now.Year))'
                    }
                 }

            ]
        })
    })
</script>

