<div class="mobile-row__container">
    <div class="mobile-row__info-panel">
        <div class="info-panel__company">
            <a href="/CompanyProfiles?symbol=${Symbol}">${CompanyName}</a> [${Symbol}]
        </div>
        <div class="info-panel__industry">
            ${Industry}
        </div>
    </div>
    <div class="mobile-row__values-info">
        <div class="column-group__header">Earnings Per Share</div>
        <div class="pivot-values__container">
            <div class="pivot-values__item">
                <div class="item-label">${0YearsAgoLabel}</div>
                <div class="item-value">${EPS0}</div>
            </div>
            <div class="pivot-values__item">
                <div class="item-label">${1YearsAgoLabel}</div>
                <div class="item-value">${EPS1}</div>
            </div>
            <div class="pivot-values__item">
                <div class="item-label">${2YearsAgoLabel}</div>
                <div class="item-value">${EPS2}</div>
            </div>
            <div class="pivot-values__item">
                <div class="item-label">${3YearsAgoLabel}</div>
                <div class="item-value">${EPS3}</div>
            </div>
            <div class="pivot-values__item">
                <div class="item-label">${4YearsAgoLabel}</div>
                <div class="item-value">${EPS4}</div>
            </div>
        </div>
    </div>
</div>