<div class="mobile-row__container">
    <div class="mobile-row__info-panel">
        ${CompanyName} [${Symbol}]
    </div>
    <div class="mobile-row__values-info">
        <div class="column-group__header">Book To Market</div>
        <div class="price_history__container">
            <div class="price_history__item">
                <div class="item-label">${0YearsAgoLabel}</div>
                <div class="item-value">${BookToMarket0}</div>
            </div>
            <div class="price_history__item">
                <div class="item-label">${1YearsAgoLabel}</div>
                <div class="item-value">${BookToMarket1}</div>
            </div>
            <div class="price_history__item">
                <div class="item-label">${2YearsAgoLabel}</div>
                <div class="item-value">${BookToMarket2}</div>
            </div>
            <div class="price_history__item">
                <div class="item-label">${3YearsAgoLabel}</div>
                <div class="item-value">${BookToMarket3}</div>
            </div>
            <div class="price_history__item">
                <div class="item-label">${4YearsAgoLabel}</div>
                <div class="item-value">${BookToMarket4}</div>
            </div>
        </div>
    </div>
</div>